<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/b4ee8c81-8faa-41fd-a13b-0e6af5d7adda/resourceGroups/MVCFlowerShop/providers/Microsoft.Web/sites/MVCFlowerShop</ResourceId>
    <ResourceGroup>MVCFlowerShop</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://mvcflowershop.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>mvcflowershop.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MVCFlowerShop</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MVCFlowerShop</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>